main {
  flex-grow: 1;
}

// SECTION HERO START
.hero {
  background-image: url(../../images/index/hero-bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__wrapper_title {
  @include wrapperSettings(640px);
  padding-top: 12.8rem;
  padding-bottom: 19.2rem;
  h1 {
    margin-bottom: 4.8rem;
    @include fontSettings(
      $home-heading-font-size,
      700,
      $home-heading-lh,
      $white
    );
  }
}

.hero__title_btn-wrapper {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}
.secondary-btn {
}
.hero__play-video_link {
  display: flex;
  align-items: center;
  gap: 8px;
  p {
    @include fontSettings(1.6rem, 500, 1.15, $white);
  }
}

.hero__wrapper_bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6.4rem;
  span {
    flex-grow: 1;
    margin: 0rem 2.4rem;
    height: 1px;
    background-color: $border;
  }
  p {
    @include fontSettings(1.8rem, 500, 1.71, $white);
  }
}
// SECTION HERO END
// SECTION NATURE START
.nature {
}
.nature__wrapper {
  padding-top: 9.6rem;
}
.nature__hero_wrapper {
  display: flex;
  margin-bottom: 6.4rem;
}
.site-divider {
}
.nature-bg {
  background-image: url(../../images/index/nature-bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 480px;
  height: 578px;
  position: relative;
  img {
    position: absolute;
    top: 25.5rem;
    right: 20rem;
  }
}
.nature__divider {
  margin-right: 2.4rem;
  margin-top: 7.1rem;
}
.nature__info {
  padding-top: 7.1rem;
  margin-right: auto;

  @include wrapperSettings(607px);
  h2 {
    margin-bottom: 3.2rem;
    @include fontSettings(
      $heading2-font-size,
      700,
      $heading2-lh,
      $primary-text
    );
  }
}
.nature-info__title_text {
  text-transform: uppercase;
  @include fontSettings(1.6rem, 700, 1.17, $primary-text);
  letter-spacing: 2px;
  margin-bottom: 3.2rem;
}
.nature-info__text {
  margin-bottom: 4.8rem;
  @include fontSettings(1.6rem, 400, 1.6, $secondary-text);
}
.nature__supporters_wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 6.5rem;
}
.supporters__text_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 3.2rem;
  p {
    letter-spacing: 2px;
    text-transform: uppercase;
    @include fontSettings(1.6rem, 500, 1.17, $primary-text);
  }
  span {
    flex-grow: 1;
    margin-left: 2.4rem;
    height: 1px;
    background-color: $border;
  }
}
.supporters__logo_wrapper {
  display: flex;
  justify-content: space-between;
  img {
    object-fit: contain;
  }
}
// SECTION NATURE END

// SECTION COMING BIRTH START
.coming-birth {
  background-color: $green-tertiary;
}
.coming-birth__wrappper {
  display: flex;
  flex-direction: column;
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
}
.coming-birth__divider_wrapper {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 3.2rem;
}
.coming-birth_title_text {
  text-transform: uppercase;
  @include fontSettings(1.6rem, 700, 1.17, $primary-text);
  letter-spacing: 2px;
}
.coming-birth__box {
  display: flex;
  gap: 9.6rem;
  justify-content: end;
}
.coming-birth__info_wrapper {
  display: flex;
  flex-direction: column;
  @include wrapperSettings(608px);
  h2 {
    @include fontSettings(
      $heading2-font-size,
      700,
      $heading1-lh,
      $primary-text
    );
    margin-bottom: 1.6rem;
  }
  p {
    @include fontSettings(1.6rem, 400, 1.6, $secondary-text);
    margin-bottom: 3.2rem;
  }
}
.coming-birth-bg-img {
  width: 480px;
  height: 658px;
  background-image: url(../../images/index/coming-birth-bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.coming-birth__box_info {
  display: flex;
  flex-direction: column;
}
.coming-birth__mini-box_info {
  display: flex;
  border-left: 1px solid $border;
  @include wrapperSettings(460px);
  img {
    margin: 0rem 2.4rem;
  }
}
.mini-box-info__text_wrapper {
  h4 {
    @include fontSettings(2.4rem, 700, 1.17, $primary-text);
    margin-bottom: 8px;
  }
  p {
    margin-bottom: 2.4rem;
  }
}
// SECTION COMING BIRTH END

// CREATING START

.creating__wrapper {
  display: flex;
  flex-direction: column;
  padding: 9.6rem 0rem;
}
.creating__divider_wrapper {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 3.2rem;
}
.site-divider {
}
.creating__divider {
}
.creating_title_text {
  text-transform: uppercase;
  @include fontSettings(1.6rem, 700, 1.17, $primary-text);
  letter-spacing: 2px;
}
.creating__title_wrapper {
  @include wrapperSettings(640px);
  h2 {
    @include fontSettings(
      $heading2-font-size,
      700,
      $heading1-lh,
      $primary-text
    );
    margin-bottom: 6.4rem;
    margin-left: 11rem;
  }
}
.creating__images_wrapper {
  display: flex;
  justify-content: space-between;
}
.images-wrapper__box_mission {
  background-image: linear-gradient(rgba(11, 7, 6, 0.5), rgba(11, 7, 6, 0.5)),
    url(../../images/index/creating-bg-img-40k.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 41.1rem;
  height: 42.1rem;
  border-radius: 1.2rem;
  h4 {
    @include fontSettings($heading3-font-size, 700, $heading3-lh, $white);
  }
}
.images-wrapper__box_weekly {
  background-image: linear-gradient(rgba(11, 7, 6, 0.5), rgba(11, 7, 6, 0.5)),
    url(../../images/index/creating-bg-img-weekly.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 41.1rem;
  height: 42.1rem;
  border-radius: 1.2rem;
  h4 {
    @include fontSettings($heading3-font-size, 700, $heading3-lh, $white);
  }
}
.images-wrapper__box_wildlife {
  background-image: linear-gradient(rgba(11, 7, 6, 0.5), rgba(11, 7, 6, 0.5)),
    url(../../images/index/creating-bg-img-wildlife.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 41.1rem;
  height: 42.1rem;
  border-radius: 1.2rem;
  h4 {
    @include fontSettings($heading3-font-size, 700, $heading3-lh, $white);
  }
}
.creating-iamges__text_wrapper {
  @include wrapperSettings(315px);
  padding-top: 8rem;
  margin-left: 4.8rem;
  h4 {
    @include fontSettings($heading3-font-size, 700, $heading3-lh, $white);
    margin-bottom: 1.6rem;
  }
  p {
    @include fontSettings(
      $paragraph-font-size,
      $paragraph-font-weight,
      $paragraph-lh,
      $white
    );
    margin-bottom: 6.4rem;
  }
}
// CREATING END

// DONATION START
.donating {
  padding: 9.6rem 0rem;
  background-color: $black;
}
.donating__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.donating__info {
  @include wrapperSettings(611px);
  h2 {
    @include fontSettings(4.5rem, 700, $heading2-lh, $white);
    margin-bottom: 1.6rem;
  }
  p {
    @include fontSettings(1.6rem, 400, 1.6, $white);
    margin-bottom: 3.2rem;
  }
}
.donating-info__percentage_box {
  display: flex;
  gap: 2.4rem;
}
.donating-info__percentage_box:not(:last-child) {
  margin-bottom: 1.6rem;
}
.donating__percentage {
  display: flex;
  align-items: center;
  gap: 8px;
  p {
    @include fontSettings(1.6rem, 400, 1.6, $white);
    margin-bottom: 0;
  }
}
.donating__bg {
  display: flex;
  width: 37.5rem;
  height: 37.5rem;
  background-image: url(../../images/index/donation-img-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  align-items: center;
  justify-content: center;
}
// DONATION END

// GREENER START

.greener__wrapper {
  background-image: linear-gradient(rgba(11, 7, 6, 0.5), rgba(11, 7, 6, 0.5)),
    url(../../images/index/greener-bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.2rem;
  margin: 9.6rem 0rem;
  padding: 9.3rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}
.greener__text_wrapper {
  @include wrapperSettings(631px);
  h2 {
    @include fontSettings($heading2-font-size, 700, $heading2-lh, $white);
    text-align: center;
  }
}
.greener-btn__wrapper {
  display: flex;
  gap: 3.2rem;
}

// GREENER END

// SECTION OUR NEWS START

.our-news__wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 9.6rem;
}
.our-news__title_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 4.8rem;
  h2 {
    @include fontSettings(4rem, 500, 1.4, $primary-text);
  }
  span {
    flex-grow: 1;
    margin-left: 2.4rem;
    height: 1px;
    background-color: $border;
  }
}
.our-news__info_wrapper {
  display: flex;
  justify-content: space-between;
}
.info-wrapper__box {
  @include wrapperSettings(302px);
  img {
    margin-bottom: 1.6rem;
  }
  h4 {
    @include fontSettings(2rem, 500, 1.5, $black);
    margin-bottom: 8px;
  }
  p {
    @include fontSettings(1.6rem, 400, 1.2, $secondary-text);
  }
}
// SECTION OUR NEWS END

// SECTION OUR EVENTS START

.our-events__wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 9.6rem;
}
.our-events__title_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 4.8rem;
  h2 {
    @include fontSettings(4rem, 500, 1.4, $primary-text);
  }
  span {
    flex-grow: 1;
    margin-left: 2.4rem;
    height: 1px;
    background-color: $border;
  }
}

.our-events__info_wrapper {
  display: flex;
  justify-content: space-between;
}
.our-events__info_box {
  background-color: $green-secondary;
  border-radius: 8px;
  display: flex;
  padding-top: 3.2rem;
  padding-bottom: 4rem;
  @include wrapperSettings(610px);
  position: relative;
  gap: 2.4rem;
}
.info__date_box {
  margin-left: 4rem;
  h2 {
    @include fontSettings(
      $heading2-font-size,
      500,
      $heading2-lh,
      $primary-text
    );
  }
  p {
    text-transform: uppercase;
    @include fontSettings(1.6rem, 500, 1.17, $primary-text);
  }
}
.info__text_box {
  @include wrapperSettings(381px);
  h3 {
    @include fontSettings(2.8rem, 700, 1.5, $primary-text);
  }
}
.info__divider_box {
  display: flex;
  align-items: center;
  gap: 2.3rem;
  margin-bottom: 8px;
  p {
    @include fontSettings(1.6rem, 500, 1.17, $primary-text);
    letter-spacing: 2px;
  }
}
.our-events__arrow_link {
  position: absolute;
  right: 4.8rem;
  top: 6.4rem;
  img {
    padding: 2.3rem 2.1rem;
    background-color: $white;
    border-radius: 50%;
  }
}
// SECTION OUR EVENTS END
