.our-project {
  max-width: 832px;
}
.container {
}
.our-project_content {
  padding-bottom: 3.2rem;
}
.our-priject_hero {
}
.our-project_title {
}
.forest-img {
}
.some-cool_text {
}
.our-project_list {
}
.next-ul {
}
.plantation {
  background-color: #716FE7;
}
.plantation-content {
}
.plantation-week {
}
.plantation-icon {
}
.plantation-texts {
}
.plantation-people {
}
.plantation-people_img {
}
.plantation-people_text {
}
.people {
}
.people-joined {
}
.people-joined-img {
}
.people-joined_text {
}
.people-raised {
}
.people-raised_img {
}
.people-reised_text {
}
.wrapper-image {
}
.creating__images_wrapper {
}
.images-wrapper__box_mission {
}
.creating-iamges__text_wrapper {
}
.secondary-btn {
}
.creating-btn {
}
.images-wrapper__box_weekly {
}
.images-wrapper__box_wildlife {
}
.wrapper-img {
}
.wrapper-img_btn {
}
.wrapper-img_btn-donate {
}