.footer{
  
  background-color:$green;
}


// .footer-content {
// }
.contact {
  display: flex;
  
  padding-top: 8.4rem;
  ::before{
    border: 1px solid $white;
  }
}
.contact-description {
  margin-right: auto;
  max-width: 445px;
  p{
    margin-top: 3.6rem;
  }
}
.forms {
  display: flex;
  flex-direction: column;
  form{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
  span{
    a{
      color: $white;
      padding-top: 3.2rem;
      border-bottom: 2px solid $dark-grey;
  
    }
  }
}
input{
  padding-top: 1rem;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: $green;
  
  // border-bottom: 1px solid $white;
}
.footer-end {
  padding-bottom: 9.2rem;
  display: flex;
  a{
    margin-right: auto;
  }
  
  
}