.primary-btn {
  padding: 1.2rem 3.2rem;
  background-color: $green-primary;
  border-radius: 4px;
  @include fontSettings($text-font-size, 700, $text-lh, $white);
}
.secondary-btn {
  border-radius: 4px;
  padding: 1.2rem 3.2rem;
  background-color: $white;
  @include fontSettings($text-font-size, 700, $text-lh, $primary-text);
}
.navbar-btn {
  padding: 1.2rem 3.2rem;
  background-color: $primary-text;
  border-radius: 4px;
  @include fontSettings($text-font-size, 700, $text-lh, $white);
}

// SITE DIVIDER
.site-divider {
  width: 7.2rem;
  height: 0rem;
  border: 1px solid $primary-text;
}
