// FONT SETTINGS
$home-heading-font-size: 6.4rem;
$home-heading-lh: 1.05;
$title-font-weight: 700;
$heading1-font-siz: 5.6rem;
$heading1-lh: 1.2;
$heading2-font-size: 4.8;
$heading2-lh: 1.2;
$heading3-font-size: 2.8rem;
$heading3-lh: 1.5;
$heading4-font-size: 2rem;
$heading4-lh: 1.5;
$heading5-lh: 1.4rem;
$heading5-lh: 1.5;
$heading6-font-size: 1.2rem;
$heading6-lh: 1.5;
$font-family: "Roboto", sans-serif;
$paragraph-font-size: 1.8rem;
$paragraph-lh: 1.09;
$paragraph-font-weight: 500;
$text-font-size: 1.6rem;
$text-lh: 1.6;
$text-font-weight: 400;

// COLOR
